<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pixellink.mapper.UserMapper">

  <select id="findById" resultType="com.pixellink.model.User">
    SELECT * FROM users WHERE id = #{id}
  </select>

  <select id="findAll" resultType="com.pixellink.model.User">
    SELECT * FROM users
  </select>

  <insert id="insert">
    INSERT INTO users (id, email, password, name, phone, terms_agreed, subscription_tier, subscription_ends_at, role)
    VALUES (#{id}, #{email}, #{password}, #{name}, #{phone}, #{termsAgreed}, #{subscriptionTier}, #{subscriptionEndsAt}, #{role})
  </insert>

  <update id="updateRole">
    UPDATE users
    SET role = #{role}
    WHERE id = #{id}
  </update>

</mapper>
